.header{
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    margin-top: 30px;
}
.view{
    height: 300px;
    width: 30%;
    background-size: 200px 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: 5px;
    padding-top: 5px;
    border-radius: 15px;
    margin-bottom: 15px;
    transition: transform .7s ease-in-out;
}
#hover-label{
    color: white;
    font-size: x-large;
    font-weight:bolder;
}
.pic-box{
    display: flex;
    justify-content: space-evenly;
    margin-top:20px;
    flex-wrap: wrap;
}
#buttongrp{
    display: flex;
    width: 80%;
    align-items:center;
    align-self: center;
    justify-content: space-around;
}
.addpost{
    display:flex ;
    height: 300px;
    flex-direction: column;
    padding: 25px;
    width: 450px;
    justify-content: space-around;
    position: fixed;
    top: 25%;
    left:27%;
    background-color: rgb(130, 208, 208);
    border-radius:15px ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.view:hover{
    transform:rotate(360deg);
}